<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.len.entity.SysRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>

  <select id="selectByCondition" parameterType="com.len.entity.SysRoleMenu" resultMap="BaseResultMap">
    select
    *
    from sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId,jdbcType=VARCHAR}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId,jdbcType=VARCHAR}</if>
    </where>
  </select>

  <select id="selectCountByCondition" parameterType="com.len.entity.SysRoleMenu" resultType="java.lang.Integer">
    select
    count(*)
    from sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId,jdbcType=VARCHAR}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>